.news-con{
    padding: 10px 10px;
    .header{
        padding-bottom: 15px;
        margin-bottom: 20px;
        border-bottom: 1px dashed #dcdddf;
        > h5{
            padding: 15px 0;
            font-size: 20px;
            line-height: 25px;
            font-weight: 500;
            color: #2c2c2c;
        }
        > span{
            font-size: 14px;
            font-style: oblique;
            line-height: 18px;
            color: #5e5e5e;
            display: inline-block;
        }
    }
    .con{
        font-size: 14px;
        line-height: 20px;
        color: #2f2f2f;
        
    }
}